<!DOCTYPE html>
<html lang="en">

<meta http-equiv="Content-Type"content="text/html;charset=utf-8">
<style>
#customers
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
    table-layout: fixed;
    word-break: break-all;
}
#customers td, #customers th
{
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}
#customers th
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
#customers tr.alt td
{
	color:#000000;
	background-color:#EAF2D3;
}
</style>
<h1>巡检报告</h1>
   <body>
    <table id="customers">
    <tr>
        <th>operation</th>
        <th>url</th>
        <th>response code</th>
        <th>response message</th>
        <th>response body</th>
        <th>curl command</th>
    </tr>
    {% set is_true = False %}
    {% for item in body %}
        {% if is_true %}
            <tr class="alt">
                <td>{{ item.op_code }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.status_code }}</td>
                <td>{{ item.response_msg }}</td>
                <td>{{ item.body }}</td>
                <td>{{ item.curl_command }}</td>
            </tr>
        {% else %}
            {% set is_true = True %}
           <tr>
               <td>{{ item.op_code }}</td>
               <td>{{ item.url }}</td>
               <td>{{ item.status_code }}</td>
               <td>{{ item.response_msg }}</td>
               <td>{{ item.body }}</td>
               <td>{{ item.curl_command }}</td>
          </tr>
        {% endif %}
    {% endfor%}
    </table>
    </body>
</html>
