<!DOCTYPE html>
<html lang="en">

<meta http-equiv="Content-Type"content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href="tntfuzzer/utils/style.css">
<h1>fuzz testing report</h1>
   <body>
    <table id="customers">
    <tr>
        <th>operation</th>
        <th>url</th>
        <th>response code</th>
        <th>response message</th>
        <th>response body</th>
        <th>curl command</th>
    </tr>
    {% set is_true = False %}
    {% for item in body %}
        {% if is_true %}
            <tr class="alt">
                <td>{{ item.op_code }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.status_code }}</td>
                <td>{{ item.response_msg }}</td>
                <td>{{ item.body }}</td>
                <td>{{ item.curl_command }}</td>
            </tr>
        {% else %}
            {% set is_true = True %}
           <tr>
               <td>{{ item.op_code }}</td>
               <td>{{ item.url }}</td>
               <td>{{ item.status_code }}</td>
               <td>{{ item.response_msg }}</td>
               <td>{{ item.body }}</td>
               <td>{{ item.curl_command }}</td>
          </tr>
        {% endif %}
    {% endfor%}
    </table>
    </body>
</html>
