<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type"content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="tntfuzzer/utils/style.css">
    <title>fuzz testing report</title>
</head>
<h1>fuzz testing report</h1>
<body>
    <table id="customers">
    <tr>
        <th>operation</th>
        <th>url</th>
        <th>response code</th>
        <th>response message</th>
        <th>response body</th>
        <th>curl command</th>
    </tr>
    {% set ns=namespace(is_true = false ) %}
    {% for item in body %}
        {% if ns.is_true %}
            <tr class="alt">
                <td>{{ item.op_code }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.status_code }}</td>
                <td>{{ item.response_msg }}</td>
                <td>{{ item.body }}</td>
                <td>{{ item.curl_command }}</td>
            </tr>
            {% set ns.is_true = false %}
        {% else %}
            {% set ns.is_true = true %}
           <tr>
               <td>{{ item.op_code }}</td>
               <td>{{ item.url }}</td>
               <td>{{ item.status_code }}</td>
               <td>{{ item.response_msg }}</td>
               <td>{{ item.body }}</td>
               <td>{{ item.curl_command }}</td>
          </tr>
        {% endif %}
    {% endfor%}
    </table>
</body>
</html>
